<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>News example template</title>
</head>

<body>

<h1>NEWS TEMPLATES</h1>
<h2>EXAMPLE</h2>






<br />
<br />
<br />
<pre>

<strong>Common markers:</strong>
These are substituted in all news item displaying templates:

<em>Markers:</em>
SERMON_SERIES_TITLE - Title of a sermon series
SERMON_TITLE - Title of a sermon
OCCURANCE_DATE - Date the sermon was presented on
ALTERNATING_CLASS - This is the class attribute inserted for alternating odd/even rows

--RESOURCES
RESOURCE_TITLE	-	Title of resource
RESOURCE_DESCRIPTION	-	Full resource description
RESOURCE_DESCRIPTION_TRUNC	-	Truncated resource description with ...
RESOURCE_GRAPHIC	-	Graphic of resource
RESOURCE_CONTENT	-	The resource itself

<em>Language Markers (see pi1/locallang.php):</em>
LATEST_HEADER - header for the LATEST element
BACK_TO_LIST - link back to list-view in single-view template


<em>Subparts:</em>
CONTENT - This is the repeated area for each row of data
 

<em>Wrapped Subparts:</em>
SERMON_SERIES_LINK - link to sermon series' single view
SERMON_LINK - link to a sermon's single view
</pre>


<br /><br /><br /><br /><hr />
<br />
<h3>TEMPLATE_LIST1</h3>
<em>This is an example template for styling a sermon listing.</em>
<br />
<br />
<br />
<br />


<!-- ###TEMPLATE_LIST1### begin 
	This template is an example of how to use the sermons extension to create a custom list view
-->
<TABLE id=wecsermons-pi1-table-data cellSpacing='1' cellPadding='3' width='###TABLE_WIDTH###'>
  <TBODY>
    <!-- ###CONTENT### begin
    	This begins the content wrapper for repeating content 
    -->
      <!-- ###SERMON_SERIES### begin 
		This begins a sermon series grouping, for grouping sermons by series
	-->
    <TR vAlign='top'>
      <TH colSpan='2'><!-- ###SERMON_SERIES_LINK### -->
        ###SERMON_SERIES_TITLE###
        <!-- ###SERMON_SERIES_LINK### --></TH>
    </TR>
      <!-- ###SERMON_SERIES### end -->
    <!-- ###ITEM### begin
  		This begins the template for a repeating a sermon record
  	-->
    <TR###ALTERNATING_CLASS### vAlign='top'>
      <TD><!--###SERMON_LINK###-->
        ###OCCURANCE_DATE###
        <!--###SERMON_LINK###-->
      </TD>
      <TD>###SERMON_TITLE###</TD>
    </TR>
    <!-- ###ITEM### end -->
    <!-- ###CONTENT### end -->
  </TBODY>
</TABLE>
<!-- ###TEMPLATE_LIST1### end --> 

<!-- ###TEMPLATE_LIST2### begin 
	This template is in progress, developing a abstracted grouping mechanism for related records, simliar to a Crystal Reports 'group'
-->
<TABLE id="wecsermons-pi1-table-data">
  <TBODY>
    <!-- ###CONTENT### begin
    	This begins the content wrapper for repeating content 
    -->
    
    <!-- ###GROUP###  begin -->
      <!-- ###SERMON_SERIES### begin 
		This begins a sermon series grouping, for grouping sermons by series
	-->
    <TR vAlign='top'>
      <TH colSpan='2'><!-- ###SERMON_SERIES_LINK### -->
        ###SERMON_SERIES_TITLE###
        <!-- ###SERMON_SERIES_LINK### --></TH>
    </TR>
      <!-- ###SERMON_SERIES### end -->
    <!-- ###GROUP### end -->
    
    <!-- ###ITEM### begin
  		This begins the template for a repeating a sermon record
  	-->
    <TR class='###ALTERNATING_CLASS###' vAlign='top'>
      <TD><!--###SERMON_LINK###-->
        ###OCCURANCE_DATE###
        <!--###SERMON_LINK###-->
      </TD>
      <TD>###SERMON_TITLE###</TD>
    </TR>
    <!-- ###ITEM### end -->
    <!-- ###CONTENT### end -->
  </TBODY>
</TABLE>
<!-- ###TEMPLATE_LIST2### end --> 

<br />
<h3>TEMPLATE_LIST3</h3>
<em>This is an example template for styling a list of resources.</em>
<br />

<!-- ###TEMPLATE_LIST3### begin --> 
<!-- ###CONTENT### begin -->
<!-- ###ITEM### begin -->
<p style='border-bottom: 1px dotted black;'>
<!--###SERMON_LINK###-->###SERMON_TITLE###<!--###SERMON_LINK###-->
###SERMON_OCCURANCE_DATE###
###SERMON_DESCRIPTION###
###SERMON_SCRIPTURE###
###SERMON_TOPICS###
###SERMON_SERIES###
###SERMON_RESOURCES###
###SERMON_SPEAKERS###
###SERMON_GRAPHIC###
</p>
<!-- ###ITEM### end -->
<!-- ###CONTENT### end -->
<!-- ###SERMON_LINK### -->Link<!-- ###SERMON_LINK### -->

<!-- ###TEMPLATE_LIST3### end --> 

<br />
<h3>TEMPLATE_RESOURCE_LIST</h3>
<em>This is an example template for styling a list of resources.</em>
<br />

<!-- ###TEMPLATE_RESOURCE_LIST### begin --> 
<DIV class="wecsermons-pi1-resource-list">
	<DIV id="wecsermons-pi1-resources-title" class="resource-detail"><!-- ###RESOURCE_LINK### --> ###RESOURCE_TITLE###<!-- ###RESOURCE_LINK### --></DIV>
	<DIV id="wecsermons-pi1-resources-description" class="resource-detail">###RESOURCE_DESCRIPTION_TRUNC###</DIV>
</DIV>
<!-- ###TEMPLATE_RESOURCE_LIST### end --> 

<br />
<h3>TEMPLATE_RESOURCE_SINGLE</h3>
<em>This is an example template for styling a single resource item.</em>
<br />

<!-- ###TEMPLATE_RESOURCE_SINGLE### begin -->
<DIV class="wecsermons-pi1-resource-single">
###RESOURCE_TITLE### <br/>
###RESOURCE_DESCRIPTION###<br/>
###RESOURCE_GRAPHIC### <br/>
###RESOURCE_CONTENT### <br/>
</DIV>
<!-- ###TEMPLATE_RESOURCE_SINGLE### end -->