<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Sermon Template</title>
</head>

<body>

<h1>SERMON TEMPLATES:</h1>

<br />
<pre>

<strong>Common markers:</strong>
These are substituted in all news item displaying templates:

<em>Markers:</em>

--SERMONS
SERMON_TITLE - Title of a sermon
SERMON_OCCURANCE_DATE - Date the sermon was presented on
SERMON_DESCRIPTION - Description, or HTML detail of a sermon
SERMON_SCRIPTURE - Scriptures that the sermon refers to
SERMON_GRAPHIC - A graphic shown with the sermon

--RESOURCES
RESOURCE_TITLE	-	Title of resource
RESOURCE_DESCRIPTION	-	Full resource description
RESOURCE_GRAPHIC	-	Graphic of resource
RESOURCE_FILE - The filename of an uploaded file
RESOURCE_WEBADDRESS1 - A web address or url associated with this resource
RESOURCE_WEBADDRESS2 - A web address or url associated with this resource
RESOURCE_WEBADDRESS3 - A web address or url associated with this resource
RESOURCE_CONTENT	-	The resource content generated throgh TypoScript, allowing complex output of resources that can not be accomplished through marker tags alone.

--SERIES
SERIES_TITLE - Title of sermon series
SERIES_DESCRIPTION - Description or HTML detail of series
SERIES_SCRIPTURE - Scriptures that the series refers to
SERIES_STARTDATE - First occurance of the series
SERIES_ENDDATE - Last occurance of the series
SERIES_GRAPHIC - A graphic shown with the series

--TOPIC
TOPIC_TITLE - Title of the topic
TOPIC_DESCRIPTION - Description or HTML detail of the topic

--SEASONS
SEASON_TITLE - Title of the season

--SPEAKERS
SPEAKER_FIRSTNAME - First name of the speaker
SPEAKER_LASTNAME - Last name of the speaker
SPEAKER_URL - Speakers home page, or URL to their bio
SPEAKER_PHOTO - Photograph of the speaker
SPEAKER_EMAIL - Speakers e-mail address they can be contacted at

--MISC
ALTERNATING_CLASS - This is a CSS class attribute inserted for alternating colors of odd and even rows in list views
BROWSE_LINKS - A results browser, allowing pagination of results in list view

<em>Language Markers (see pi1/locallang.php):</em>
BACK_TO_LIST - Text to return to list-view from single-view template


<em>Subparts:</em>
CONTENT - <strong>**REQUIRED**</strong> This is a container that houses the primary content of a template.
ITEM - <strong>**REQUIRED**</strong> The repeating content area representing one record within a list.
GROUP - This is required only when the "Group By" option of the plug-in is defined. Used to group the list by related records.
SERMON_SPEAKERS - Listing of speakers related to a sermon
SERMON_TOPICS - General topics that the sermon is associated with. Aka, category
SERMON_SERIES - The sermon series a sermon is related to
SERIES_SEASON - Season a series is related to
SERIES_TOPICS - General topic that the series is associated with. Aka, category
DEFAULT_RESOURCES -	The subpart name of the 'default' resource type

<em>Wrapped Subparts:</em>
SERMON_LINK - link to a sermon's single view
SERIES_LINK - link to sermon series' single view
RESOURCE_LINK - link to a resource's single view
TOPIC_LINK - link to a topic's single view
BACK_LINK	- link back to the list view
</pre>


<h2>Layout #1 Styles</h2>
<br/>

<h3>TEMPLATE_LIST1</h3>
<em>This is a template style for a list of sermons, and related information.</em>
<br />

<!-- ###TEMPLATE_LIST1### begin -->
	<!-- ###CONTENT### begin -->
		<!-- ###ITEM### begin -->

			<div style='border-bottom: 1px dotted black;' class='###ALTERNATING_CLASS###' id="tx-wecsermons-pi1-list1">
				<!--###SERMON_LINK###-->###SERMON_TITLE###<!--###SERMON_LINK###-->
				Presented On: ###SERMON_OCCURANCE_DATE###<br/>
				###SERMON_DESCRIPTION###
				###SERMON_SCRIPTURE###
				###SERMON_GRAPHIC###
				<!--###SERMON_SPEAKERS###-->
						###SPEAKER_PHOTO###
						<div class="tx-wecsermons-speakers-caption">
						<!--###SPEAKER_LINK###-->###SPEAKER_LASTNAME###, ###SPEAKER_FIRSTNAME### <!--###SPEAKER_LINK###-->
						</div>
				<!--###SERMON_SPEAKERS###-->


				<!--###SERMON_TOPICS###-->
						###TOPIC_TITLE###
						###TOPIC_DESCRIPTION###
				<!--###SERMON_TOPICS###-->

				<!--###SERMON_SERIES###-->
						<!--###SERIES_LINK###-->###SERIES_TITLE###<!--###SERIES_LINK###-->
						###SERIES_STARTDATE###
						###SERIES_ENDDATE###
						<!--###SERIES_SEASON###-->###SEASON_TITLE###<!--###SERIES_SEASON###-->
				<!--###SERMON_SERIES###-->

				<!--###DEFAULT_RESOURCES###-->
					Title: <!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###--><br/>
					File: ###RESOURCE_FILE###<br/>
					Graphic: ###RESOURCE_GRAPHIC###<br/>
				<!--###DEFAULT_RESOURCES###-->
				
		
			</div>
		<!-- ###ITEM### end -->
	<!-- ###CONTENT### end -->
			###BROWSE_LINKS###
<!-- ###TEMPLATE_LIST1### end -->


<br />
<h3>TEMPLATE_SERMON_SINGLE1</h3>
<em>Template for single view of a sermon.</em>
<br />


<!-- ###TEMPLATE_SERMON_SINGLE1### begin -->
<!--###CONTENT###-->
###SERMON_TITLE###
###SERMON_OCCURANCE_DATE###
###SERMON_DESCRIPTION###
###SERMON_SCRIPTURE###
###SERMON_GRAPHIC###

<!--###SERMON_SERIES###-->
<!--###SERIES_LINK###-->###SERIES_TITLE###<!--###SERIES_LINK###-->
<!--###SERMON_SERIES###-->

<!--###SERMON_SPEAKERS###-->
###SPEAKER_LASTNAME### ###SPEAKER_FIRSTNAME###<br/>
<!--###SERMON_SPEAKERS###-->

<!--###SERMON_TOPICS###-->
Sermon Topic: ###TOPIC_TITLE###
<!--###SERMON_TOPICS###-->

<div class="tx-wecsermons-pi1-default">
	<!--###DEFAULT_RESOURCES###-->
		###RESOURCE_GRAPHIC###
		###RESOURCE_TITLE###
		<!--###RESOURCE_LINK###-->###RESOURCE_FILE###<!--###RESOURCE_LINK###-->
		
	<!--###DEFAULT_RESOURCES###-->
</div>

<!--###PDF_RESOURCES###-->
###RESOURCE_CONTENT###
<!--###PDF_RESOURCES###-->


<!--###CONTENT###-->
<!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###-->
<!-- ###TEMPLATE_SERMON_SINGLE1### end -->

<br />
<h3>TEMPLATE_SERIES_SINGLE1</h3>
<em>Template for single view of a sermon.</em>
<br />


<!-- ###TEMPLATE_SERIES_SINGLE1### begin -->
<!--###CONTENT###-->
###SERIES_TITLE###
###SERIES_DESCRIPTION###
###SERIES_SCRIPTURE###
###SERIES_STARTDATE###
###SERIES_ENDDATE###
###SERIES_GRAPHIC###

<!--###SERIES_SEASON###-->
###SEASON_TITLE###
<!--###SERIES_SEASON###-->

<!--###SERIES_TOPICS###-->
###TOPIC_TITLE###
<!--###SERIES_TOPICS###-->

<!--###CONTENT###-->
<!-- ###TEMPLATE_SERIES_SINGLE1### end -->


<br />
<h3>TEMPLATE_SPEAKER_SINGLE1</h3>
<em>This is an example template for styling a single view of a speaker.</em>
<br />

<!-- ###TEMPLATE_SPEAKER_SINGLE1### begin -->
	<div class='tx-wecsermons-singleView'>
	<!-- ###CONTENT### begin -->
						###SPEAKER_PHOTO###
						###SPEAKER_EMAIL###
						###SPEAKER_LASTNAME### ###SPEAKER_FIRSTNAME###
						###SPEAKER_URL###
	<!-- ###CONTENT### end -->
	</div>
	<div><!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###--></div>
<!-- ###TEMPLATE_SPEAKER_SINGLE1### end -->

<h2>Layout #2 Styles</h2>
<br/>

<h3>TEMPLATE_LIST2</h3>
<em>This is a template style for displaying a sermon listing, grouped by series.</em>
<br />
<br />
<br />
<br />

<!-- ###TEMPLATE_LIST2### begin
	This template is in progress, developing a abstracted grouping mechanism for related records, simliar to a Crystal Reports 'group'
-->

<TABLE width="489" cellpadding="3" cellspacing="1" id="tx-wecsermons-pi1-list2">
  <TBODY>
    <!-- ###CONTENT### begin
    	This begins the main content wrapper
    -->
    <!-- ###GROUP###  begin -->
    <TR vAlign='top'>
      <TH colSpan='2'><!-- ###SERIES_LINK### -->
        ###SERIES_TITLE###
        <!-- ###SERIES_LINK### --></TH>
    </TR>
    <!-- ###GROUP### end -->

    <!-- ###ITEM### begin
  		This begins the template for record detail
  	-->
    <TR class='###ALTERNATING_CLASS###' vAlign='top'>
      <TD><!--###SERMON_LINK###-->
        ###SERMON_OCCURANCE_DATE###
        <!--###SERMON_LINK###-->
      </TD>
      <TD>###SERMON_TITLE###</TD>
    </TR>
    <!-- ###ITEM### end -->
    <!-- ###CONTENT### end -->
    <tr><td colspan="2">			###BROWSE_LINKS###</td></tr>
   </TBODY>
</TABLE>
<!-- ###TEMPLATE_LIST2### end -->

<h3>TEMPLATE_SERMON_SINGLE2</h3>
<em>This is a template style for a sermon single view.</em>
<br />

<!-- ###TEMPLATE_SERMON_SINGLE2### begin -->
	<!--###CONTENT###-->
		<div class="tx-wecsermons-sermon">
			<div class="tx-wecsermons-sermon-graphic" style="float: right; margin: 1em;">
				###SERMON_GRAPHIC###
			</div>
			<p>###SERMON_TITLE###</p>
			
			<!--###SERMON_SPEAKERS###-->
				<!--###SPEAKER_LINK###-->Pastor ###SPEAKER_FIRSTNAME### ###SPEAKER_LASTNAME###<!--###SPEAKER_LINK###--><br/>
			<!--###SERMON_SPEAKERS###-->

			###SERMON_OCCURANCE_DATE###<br/>

			<!--###SERMON_TOPICS###-->
				<div class="tx-wecsermons-sermons-topics"><!--###TOPIC_LINK###-->###TOPIC_TITLE###<!--###TOPIC_LINK###--></div>
			<!--###SERMON_TOPICS###-->

			<div class="tx-wecsermons-sermon-description">
				###SERMON_DESCRIPTION###
			</div>
		</div>
	<!--###CONTENT###-->
	<p><!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###--></p>
<!-- ###TEMPLATE_SERMON_SINGLE2### end -->

<h3>TEMPLATE_TOPIC_SINGLE2</h3>
<em>This is a template style for a speaker single view.</em>
<br />

<!-- ###TEMPLATE_TOPIC_SINGLE2### end -->
	<!--###CONTENT###-->
		###TOPIC_TITLE###<br/>
		###TOPIC_DESCRIPTION###
	<!--###CONTENT###-->
	<p><!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###--></p>
<!-- ###TEMPLATE_TOPIC_SINGLE2### end -->


<h3>TEMPLATE_SPEAKER_SINGLE2</h3>
<em>This is a template style for a speaker single view.</em>
<br />

<!-- ###TEMPLATE_SPEAKER_SINGLE2### begin -->
	<!--###CONTENT###-->
	<div class="tx-wecsermons-speaker-photo" style="float: left; margin: 0 1em;">###SPEAKER_PHOTO###</div>
	###SPEAKER_FIRSTNAME### ###SPEAKER_LASTNAME###<br/>
	###SPEAKER_EMAIL###
	###SPEAKER_URL###<br/>
	<!--###CONTENT###-->
	<p><!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###--></p>
<!-- ###TEMPLATE_SPEAKER_SINGLE2### end -->

<h3>TEMPLATE_SERIES_SINGLE2</h3>
<em>This is a template style for a series single view.</em>
<br />

<!-- ###TEMPLATE_SERIES_SINGLE2### begin -->
	<!--###CONTENT###-->
		<div class="tx-wecsermons-series-title">###SERIES_TITLE###</div>
		<div class="tx-wecsermons-series-date">###SERIES_STARTDATE### through ###SERIES_ENDDATE###</div>
		<p style="text-align: center;" ###SERIES_GRAPHIC###</p>
		<p>###SERIES_DESCRIPTION###</p>
	<!--###CONTENT###-->
	<!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###-->
<!-- ###TEMPLATE_SERIES_SINGLE2### end -->

<h2>Layout #3 Styles</h2>
<br/>
<h3>TEMPLATE_LIST3</h3>
<em>This is an example template for styling a list of resources.</em>
<br />

<!-- ###TEMPLATE_LIST3### begin -->
	<!-- ###CONTENT### begin -->
		<!-- ###ITEM### begin -->

			<div style='border-bottom: 1px dotted black;' class='###ALTERNATING_CLASS###'>
				<!--###SERMON_LINK###-->###SERMON_TITLE###<!--###SERMON_LINK###-->
				###SERMON_OCCURANCE_DATE###
				###SERMON_DESCRIPTION###
				###SERMON_SCRIPTURE###
				###SERMON_GRAPHIC###

				<!--###PDF_RESOURCES###-->
					###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->###RESOURCE_FILE###<!--###RESOURCE_LINK###-->
				<!--###PDF_RESOURCES###-->

				<!--###MP3_RESOURCES###-->
					<p>MP3: <!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###--></p>
				<!--###MP3_RESOURCES###-->
				
				<!--###SERMON_SPEAKERS###-->
						###SPEAKER_PHOTO###
						<div class="tx-wecsermons-speakers-caption">
						<!--###SPEAKER_LINK###-->###SPEAKER_LASTNAME###, ###SPEAKER_FIRSTNAME### <!--###SPEAKER_LINK###-->
						</div>
				<!--###SERMON_SPEAKERS###-->


				<!--###SERMON_TOPICS###-->
						###TOPIC_TITLE###
						###TOPIC_DESCRIPTION###
				<!--###SERMON_TOPICS###-->

				<!--###SERMON_SERIES###-->
						<!--###SERIES_LINK###-->###SERIES_TITLE###<!--###SERIES_LINK###-->
						###SERIES_STARTDATE###
						###SERIES_ENDDATE###
						<!--###SERIES_SEASON###-->###SEASON_TITLE###<!--###SERIES_SEASON###-->
				<!--###SERMON_SERIES###-->

			</div>
		<!-- ###ITEM### end -->
	<!-- ###CONTENT### end -->
			###BROWSE_LINKS###
<!-- ###TEMPLATE_LIST3### end -->

<br />
<h3>TEMPLATE_SERIES_SINGLE3</h3>
<em>Template for single view of a sermon.</em>
<br />

<!-- ###TEMPLATE_SERIES_SINGLE3### begin -->
	<!--###CONTENT###-->
		###SERIES_TITLE###
		###SERIES_DESCRIPTION###
		###SERIES_SCRIPTURE###
		###SERIES_STARTDATE###
		###SERIES_ENDDATE###
		###SERIES_GRAPHIC###
		
		<!--###SERIES_SEASON###-->
		###SEASON_TITLE###
		<!--###SERIES_SEASON###-->
		
		<!--###SERIES_TOPICS###-->
		###TOPIC_TITLE###
		###TOPIC_DESCRIPTION###
		<!--###SERIES_TOPICS###-->
	
	<!--###CONTENT###-->
<!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###-->
<!-- ###TEMPLATE_SERIES_SINGLE3### end -->


<br />
<h3>TEMPLATE_SERMON_SINGLE3</h3>
<em>Template for single view of a sermon.</em>
<br />


<!-- ###TEMPLATE_SERMON_SINGLE3### begin -->
	<!--###CONTENT###-->
		###SERMON_TITLE###
		###SERMON_OCCURANCE_DATE###
		###SERMON_DESCRIPTION###
		###SERMON_SCRIPTURE###
		###SERMON_GRAPHIC###
		
		<!--###SERMON_SERIES###-->
			<!--###SERIES_LINK###-->###SERIES_TITLE###<!--###SERIES_LINK###-->
		<!--###SERMON_SERIES###-->
		
		<!--###SERMON_SPEAKERS###-->
			###SPEAKER_LASTNAME### ###SPEAKER_FIRSTNAME###<br/>
		<!--###SERMON_SPEAKERS###-->
		
		<!--###MP3_RESOURCES###-->
			###RESOURCE_CONTENT###
		<!--###MP3_RESOURCES###-->
		
		<!--###PDF_RESOURCES###-->
			###RESOURCE_TITLE### <!--###RESOURCE_LINK###-->###RESOURCE_FILE###<!--###RESOURCE_LINK###-->
		<!--###PDF_RESOURCES###-->
		
		Default:
		<!--###DEFAULT_RESOURCES###-->
			Title: ###RESOURCE_TITLE###<br/>
			File: ###RESOURCE_FILE###<br/>
			Graphic: ###RESOURCE_GRAPHIC###<br/>
			
			###RESOURCE_CONTENT###
		<!--###DEFAULT_RESOURCES###-->
		
		<!--###SERMON_TOPICS###-->
			Sermon Topic: ###TOPIC_TITLE###
		<!--###SERMON_TOPICS###-->
		
		<!--###NEWS_RESOURCES###-->
			<div id="news_plugin">
				###RESOURCE_TITLE### ###RESOURCE_CONTENT###
			</div>
		<!--###NEWS_RESOURCES###-->
		
		
		
	<!--###CONTENT###-->
	<!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###-->
<!-- ###TEMPLATE_SERMON_SINGLE3### end -->

<br />
<h3>TEMPLATE_LIST4</h3>
<em>Template for customized view of a sermon listing.</em>
<br />

<!-- ###TEMPLATE_LIST4### begin -->

	<!--###CONTENT###-->
		<!--###ITEM###-->

		<p>Sermon Title: (with link to single view using &lt;&#33;&#45;&#45;&#35;&#35;&#35;&#83;&#69;&#82;&#77;&#79;&#78;&#95;&#76;&#73;&#78;&#75;&#35;&#35;&#35;&#45;&#45;&gt; wrapping tags)<br/>
		<!--###SERMON_LINK###-->###SERMON_TITLE###<!--###SERMON_LINK###--></p>	
		
		<p>Sermon Occurance Date:<br/>
		###SERMON_OCCURANCE_DATE###</p>
		
		<p>Sermon Description:<br/>
		###SERMON_DESCRIPTION###</p>
		
		<p>Sermon Scripture:<br/>
		###SERMON_SCRIPTURE###</p>
		
		<p>Sermon Graphic:<br/>
		###SERMON_GRAPHIC###</p>
		
		<!--###SERMON_SERIES### begin-->
		<div id="tx-wecsermons-pi1-series-example" class="tx-wecsermons-pi1-example">	
		<div><strong>Sermon Series:</strong></div>
			
			<p>Series Title:<br/>
			<!--###SERIES_LINK###-->###SERIES_TITLE###<!--###SERIES_LINK###--></p>
			
			<p>Series Description:<br/>
			###SERIES_DESCRIPTION###</p>
			
			<p>Series Scripture:<br/>
			###SERIES_SCRIPTURE###</p>
			
			<p>Series Start Date:<br/>
			###SERIES_STARTDATE###</p>
			
			<p>Series End Date:<br/>
			###SERIES_ENDDATE###</p>
			
			<p>Series Graphic:<br/>
			###SERIES_GRAPHIC###</p>
		</div>
		<!--###SERMON_SERIES### end-->
		
		<!--###SERMON_SPEAKERS### begin-->
		<div id="tx-wecsermons-pi1-speakers-example" class="tx-wecsermons-pi1-example">	
			<p>Speaker Full Name:<br/>
			###SPEAKER_FULLNAME###</p>
			
			<p>Speaker First Name:<br/>
			###SPEAKER_FIRSTNAME###</p>
			
			<p>Speaker Last Name:<br/>
			###SPEAKER_LASTNAME###</p>
			
			<p>Speaker URL:<br/>
			###SPEAKER_URL###</p>
			
			<p>Speaker Photo:<br/>
			###SPEAKER_PHOTO###</p>
			
			<p>Speaker E-mail:<br/>
			###SPEAKER_EMAIL###</p>
		</div>
		<!--###SERMON_SPEAKERS### end-->

		<!--###MP3_RESOURCES###-->
		<br/>MP3:<br/>
		<div id="tx-wecsermons-pi1-mp3-example" class="tx-wecsermons-pi1-example">	
			<p>Resource Title: (with link to single view using &#60;&#33;&#45;&#45;&#35;&#35;&#35;&#82;&#69;&#83;&#79;&#85;&#82;&#67;&#69;&#95;&#76;&#73;&#78;&#75;&#35;&#35;&#35;&#45;&#45;&#62; wrapping tags)<br/>
			<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###--></p>
		
			<p>Resource Description:<br/>
			###RESOURCE_DESCRIPTION###</p>

			<p>Resource Graphic:<br/>
			###RESOURCE_GRAPHIC###</p>

			<p>Resource File:<br/>
			###RESOURCE_FILE###</p>
		
			<p>Resource web address 1:<br/>
			###RESOURCE_WEBADDRESS1###</p>
		
			<p>Resource web address 2:<br/>
			###RESOURCE_WEBADDRESS2###</p>
		
			<p>Resource web address 3:<br/>
			###RESOURCE_WEBADDRESS3###</p>
		
			<p>Resource Content:<br/>
			###RESOURCE_CONTENT###</p>
		</div>
		<!--###MP3_RESOURCES###-->

			<p>Summary:<br/>
				For each resource type that exists or is created, there is a <strong>marker tag</strong> which is used in a sermon's list view or single view.
				For MP3 resources, the marker tag is &#60;&#33;&#45;&#45;&#35;&#35;&#35;&#77;&#80;&#51;&#95;&#82;&#69;&#83;&#79;&#85;&#82;&#67;&#69;&#83;&#35;&#35;&#35;&#45;&#45;&#62;. 
				Within this marker tag, there are more tags that can be used, and are identical for every resource.</p>
			<ul>			
				<li>RESOURCE_TITLE	-	Title of resource</li>
				<li>RESOURCE_DESCRIPTION	-	Full resource description</li>
				<li>RESOURCE_GRAPHIC	-	Graphic of resource</li>
				<li>RESOURCE_FILE - The filename of an uploaded file</li>
				<li>RESOURCE_WEBADDRESS1 - A web address or url associated with this resource</li>
				<li>RESOURCE_WEBADDRESS2 - A web address or url associated with this resource</li>
				<li>RESOURCE_WEBADDRESS3 - A web address or url associated with this resource</li>
				<li>RESOURCE_CONTENT	-	The resource content generated throgh TypoScript, allowing complex output of resources that can not be accomplished 
					through marker tags alone.</li>
			</ul>

		
		<br/>FLV:<br/>
		<!--###FLASH_VIDEO_RESOURCES###-->
			<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###--></p>
		
			<p>Resource Description:<br/>
			###RESOURCE_DESCRIPTION###</p>

			<p>Resource Graphic:<br/>
			###RESOURCE_GRAPHIC###</p>

			<p>Resource File:<br/>
			###RESOURCE_FILE###</p>
		
			<p>Resource web address 1:<br/>
			###RESOURCE_WEBADDRESS1###</p>
		
			<p>Resource web address 2:<br/>
			###RESOURCE_WEBADDRESS2###</p>
		
			<p>Resource web address 3:<br/>
			###RESOURCE_WEBADDRESS3###</p>
		
			<p>Resource Content:<br/>
			###RESOURCE_CONTENT###</p>
		<!--###FLASH_VIDEO_RESOURCES###-->
		
		<br/>PDF:<br/>
		<!--###PDF_RESOURCES###-->
			<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
		<!--###PDF_RESOURCES###-->
		
		<br/>POLL:<br/>
		<!--###POLL_RESOURCES###-->
			<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
		<!--###POLL_RESOURCES###-->		
		
		<br/>Default:<br/>
		<!--###DEFAULT_RESOURCES###-->
			Title: 			<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###--><br/>
			File: ###RESOURCE_FILE###<br/>
			Graphic: ###RESOURCE_GRAPHIC###<br/>
			
			###RESOURCE_CONTENT###
		<!--###DEFAULT_RESOURCES###-->

		<br/>News:<br/>
		<!--###NEWS_RESOURCES###-->
			<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
			<br/><br/>
			###RESOURCE_CONTENT###
		<!--###NEWS_RESOURCES###-->
		
		<br/>Discussion:<br/>
		<!--###DISCUSSION_RESOURCE###-->
			<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
		<!--###DISCUSSION_RESOURCE###-->
		<!--###ITEM###-->
	<!--###CONTENT###-->
		
<!-- ###TEMPLATE_LIST4### end -->

<h2>Layout #4 Styles</h2> 
<br />
<h3>TEMPLATE_LIST4</h3>
<em>This is an example template for styling a list of resources.</em> 
<br />
<!-- ###TEMPLATE_LIST4### begin -->
		<div class="wecsermon-list-browselink">
			###BROWSE_LINKS###
			<br />
		</div>
	<!-- ###CONTENT### begin -->
		<!-- ###ITEM### begin -->
				<p>Sermon Title: (with link to single view using &gt;!--###SERMON_LINK###--&lt; wrapping tags)<br/>
				<!--###SERMON_LINK###-->###SERMON_TITLE###<!--###SERMON_LINK###--></p>	
				
				<span class="wecsermon-list-occurdate">###SERMON_OCCURANCE_DATE###</span>
				<span class="wecsermon-list-serieslink"><!--###SERMON_SERIES###--><!--###SERIES_LINK###-->###SERIES_TITLE###<!--###SERIES_LINK###--><!--###SERMON_SERIES###--></span>
			</div>
			<div class="wecsermon-list-sermongraphic">
				###SERMON_GRAPHIC###
			</div>
			<div class="wecsermon-list-sermondesc">
				###SERMON_DESCRIPTION###
				<br />
				###SERMON_SCRIPTURE###
			</div>
			<!--###SERMON_SPEAKERS###-->
			<div class="wecsermon-list-speakerphoto">
				###SPEAKER_PHOTO###
			</div>
			<div class="wecsermon-list-speakername">
				<!--###SPEAKER_LINK###-->###SPEAKER_FIRSTNAME###&nbsp;###SPEAKER_LASTNAME###<!--###SPEAKER_LINK###-->
			</div>
			<!--###SERMON_SPEAKERS###-->
			<div class="wecsermon-list-resources-left">
				SERMON RESOURCES:
				<br />
				<!--###VIDEOSERMON### begin-->
				<!--###RESOURCE_LINK###-->Video<!--###RESOURCE_LINK###-->
				<!--###VIDEOSERMON### end-->
				<br />
				<!--###MP3_RESOURCES### begin-->
				<!--###RESOURCE_LINK###-->Audio<!--###RESOURCE_LINK###-->
				<!--###MP3_RESOURCES### end-->
				<br />
				<!--###TEXTSERMON### begin-->
				text:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
				<!--###TEXTSERMON### end-->
			</div>
			<div class="wecsermon-list-resources-middle">
				<br />
				<!--###GROUPIMPACT### begin-->
				group impact:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
				<!--###GROUPIMPACT### end-->
				<br />
				<!--###EXPANDEDGROUPSIMPACT### begin-->
				expanded group impact:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
				<!--###EXPANDEDGROUPSIMPACT### end-->
				<br />
				<!--###PDF_RESOURCES### begin-->
				bulletin:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_FILE###<!--###RESOURCE_LINK###-->
				<!--###PDF_RESOURCES### end-->
			</div>
			<div class="wecsermon-list-resources-right">
				<!--###ESTOREGRAPHICS### begin-->
				graphics:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
				<!--###ESTOREGRAPHICS### end-->
				<br />
			</div>
			<div class="wecsermon-list-ornament-1">
				b<span class="wecsermon-list-ornament-2">&#183;</span>a
			</div>
		</div>
		
		<!-- ###ITEM### end -->
	<!-- ###CONTENT### end -->
		<div class="wecsermon-list-browselink">
			<br />
			###BROWSE_LINKS###
		</div>
<!--###TEMPLATE_LIST4### end -->


<br />
<h3>TEMPLATE_SERIES_SINGLE4</h3>
<em>Template for a view of the sermon series.</em> 
<br />
<!--###TEMPLATE_SERIES_SINGLE4### begin -->
	<!--###CONTENT### begin-->
		###SERIES_TITLE###
		###SERIES_DESCRIPTION###
		###SERIES_SCRIPTURE###
		###SERIES_STARTDATE###
		###SERIES_ENDDATE###
		###SERIES_GRAPHIC### 

		<!--###SERIES_SEASON###-->
		###SEASON_TITLE### 
		<!--###SERIES_SEASON###-->

		<!--###SERIES_TOPICS###-->
		###TOPIC_TITLE###
		###TOPIC_DESCRIPTION### 
		<!--###SERIES_TOPICS###-->

	<!--###CONTENT### end-->
	<!--###BACK_LINK###-->
	###BACK_TO_LIST###
	<!--###BACK_LINK###-->
<!-- ###TEMPLATE_SERIES_SINGLE4### end -->


<br />
<h3>TEMPLATE_SERMON_SINGLE4</h3>
<em>Template for a view of a single sermon.</em> 
<br />
<!-- ###TEMPLATE_SERMON_SINGLE4### begin -->
	<!--###CONTENT### begin-->
		<div style="margin-bottom: 25px;">
			<div style="background-color: lime; margin-bottom: 10px;">
				<!--###SERMON_LINK###-->###SERMON_TITLE###<!--###SERMON_LINK###--><span style="padding-left: 20px;">###SERMON_OCCURANCE_DATE###</span>
				<span style="float: right;">series:&nbsp;<!--###SERMON_SERIES###--><!--###SERIES_LINK###-->###SERIES_TITLE###<!--###SERIES_LINK###--><!--###SERMON_SERIES###--></span>
			</div>
			<div style="float: left; width: 216px; height: 162px; background-color: blue; margin-right: 10px; margin-bottom: 10px;">
				###SERMON_GRAPHIC###
			</div>
			<div style="position: absolute; left: 234px; width: 360px; background-color: red; margin-bottom: 10px;">
			<div style="text-align: center;">
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="320" height="240" id="FLVPlayer"> 
					<param name="allowFlashAutoInstall" value="true">
					<param name="movie" value="fileadmin/common/video_only.swf" /> 
					<param name="align" value="middle" /> 
					<param name="quality" value="autohigh" /> 
					<param name="scale" value="noscale" />
					<param name="bgcolor" value="#000000" />
					<param name="FlashVars" value="&MM_ComponentVersion=1&skinName=Clear_Skin_3&streamName=http://ginghamsburg.org/###MOVIEMARKER###&autoPlay=true&autoRewind=false" /> 
					<embed src="fileadmin/common/video_only.swf" flashvars="&MM_ComponentVersion=1&skinName=Clear_Skin_3&streamName=http://ginghamsburg.org/fileadmin/local/sermons/media06/DNA-h&autoPlay=true&autoRewind=false" quality="autohigh" bgcolor="#000000" scale="noscale" width="340" height="400" name="FLVPlayer" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" />
				</object>
			</div>
			</div>
			<!--###SERMON_SPEAKERS###-->
			<div style="float: right; background-color: yellow; width: 120px; height: 145px;">
				###SPEAKER_PHOTO###
			</div>
			<div style="float: right; clear: right; width: 120px; background-color: olive; text-align: center;">
				<!--###SPEAKER_LINK###-->###SPEAKER_FIRSTNAME###&nbsp;###SPEAKER_LASTNAME###<!--###SPEAKER_LINK###-->
			</div>
			<!--###SERMON_SPEAKERS###-->
			<div style="float: left; clear: left; width: 216px; background-color: tan; margin-right: 10px;">
					SERMON RESOURCES:
					<br />
					<!--###MP3_RESOURCES### begin-->
						audio:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
					<!--###MP3_RESOURCES### end-->
					<br />
					<!--###TEXTSERMON### begin-->
						text:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
					<!--###TEXTSERMON### end-->
					<br />
					<!--###PDF_RESOURCES### begin-->
						bulletin:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_FILE###<!--###RESOURCE_LINK###-->
					<!--###PDF_RESOURCES### end-->
					<br />
					<!--###GROUPIMPACT### begin-->
						group impact:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
					<!--###GROUPIMPACT### end-->
					<br />
					<!--###EXPANDEDGROUPIMPACT### begin-->
						expanded group impact:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
					<!--###EXPANDEDGROUPIMPACT### end-->
					<br />
					<!--###ESTOREGRAPHICS### begin-->
						graphics:&nbsp;<!--###RESOURCE_LINK###-->###RESOURCE_TITLE###<!--###RESOURCE_LINK###-->
					<!--###ESTOREGRAPHICS### end-->
				</div>
			</div>
		</div>
	<!--###CONTENT### end-->
	<div style="clear: left;">
		<br />
		<!--###BACK_LINK###-->###BACK_TO_LIST###<!--###BACK_LINK###-->
	</div>
<!-- ###TEMPLATE_SERMON_SINGLE4### end -->

<br />
<h3>TEMPLATE_SPEAKER_SINGLE4</h3>
<em>Template for a speaker single view.</em> 
<br />
<!-- ###TEMPLATE_SPEAKER_SINGLE4### begin -->
	<!--###CONTENT### begin-->
		###SPEAKER_FIRSTNAME###<br/>
		###SPEAKER_LASTNAME###<br/>
		###SPEAKER_URL###<br/>
		###SPEAKER_PHOTO###<br/>
		###SPEAKER_EMAIL###<br/>
	<!--###CONTENT### begin-->

<!-- ###TEMPLATE_SPEAKER_SINGLE4### end -->

<br />
<h3>TEMPLATE_TOPIC_SINGLE4</h3>
<em>Template for a speaker single view.</em> 
<br />
<!-- ###TEMPLATE_TOPIC_SINGLE4### begin -->
	<!--###CONTENT### begin-->
		###TOPIC_TITLE###<br/>
		###TOPIC_DESCRIPTION ###<br/>
	<!--###CONTENT### begin-->

<!-- ###TEMPLATE_TOPIC_SINGLE4### end -->

<br />
<h3>TEMPLATE_SEASON_SINGLE4</h3>
<em>Template for a speaker single view.</em> 
<br />
<!-- ###TEMPLATE_SEASON_SINGLE4### begin -->
	<!--###CONTENT### begin-->
		###SEASON_TITLE###<br/>
	<!--###CONTENT### begin-->

<!-- ###TEMPLATE_SEASON_SINGLE4### end -->

<!--###TEMPLATE_SEARCHBOX1### begin-->
<div class="tx-wecsermons-pi1-searchbox">
  <form action="###FORM_ACTION###" method="post">
	 ###SEARCHBOX_OPTIONS###
    <input type="text" name="tx_wecsermons_pi1[sword]" value="" class="tx-wecsermons-pi1-searchbox-sword" />
    <input type="submit" value="###SEARCH_BUTTON_NAME###" class="tx-wecsermons-pi1-searchbox-button" />
    <input type="hidden" name="no_cache" value="1" />
    <input type="hidden" name="tx_wecsermons_pi1[pointer]" value="" />
  </form>
</div>
<!--###TEMPLATE_SEARCHBOX1### end-->



<!--###TEMPLATE_SEARCHBOX2### begin-->
<div class="tx-wecsermons-pi1-searchbox">
  <form action="###FORM_ACTION###" method="post">
	 ###SEARCHBOX_OPTIONS###
    <input type="text" name="tx_wecsermons_pi1[sword]" value="" class="tx-wecsermons-pi1-searchbox-sword" />
    <input type="submit" value="###SEARCH_BUTTON_NAME###" class="tx-wecsermons-pi1-searchbox-button" />
    <input type="hidden" name="no_cache" value="1" />
    <input type="hidden" name="tx_wecsermons_pi1[pointer]" value="" />
  </form>
</div>
<!--###TEMPLATE_SEARCHBOX2### end-->



<!--###TEMPLATE_SEARCHBOX3### begin-->
<div class="tx-wecsermons-pi1-searchbox">
  <form action="###FORM_ACTION###" method="post">
	 ###SEARCHBOX_OPTIONS###
    <input type="text" name="tx_wecsermons_pi1[sword]" value="" class="tx-wecsermons-pi1-searchbox-sword" />
    <input type="submit" value="###SEARCH_BUTTON_NAME###" class="tx-wecsermons-pi1-searchbox-button" />
    <input type="hidden" name="no_cache" value="1" />
    <input type="hidden" name="tx_wecsermons_pi1[pointer]" value="" />
  </form>
</div>
<!--###TEMPLATE_SEARCHBOX3### end-->


<br />
<h3>TEMPLATE_RESOURCE_NEWS</h3>
<em>This is an example template for styling a News resource item.</em>
<br />

<!-- ###TEMPLATE_RESOURCE_NEWS### begin -->
	<!--###CONTENT###-->
		<div id="tx-wecsermons-pi1-news">
			###RESOURCE_CONTENT###
		</div>
	<!--###CONTENT###-->
<!-- ###TEMPLATE_RESOURCE_NEWS### end -->

<br />
<h3>TEMPLATE_RESOURCE_PDF</h3>
<em>This is an example template for styling a PDF resource item.</em>
<br />

<!--###TEMPLATE_RESOURCE_PDF### begin-->
			<!--###CONTENT###-->
				###RESOURCE_CONTENT###
			<!--###CONTENT###-->
<!--###TEMPLATE_RESOURCE_PDF### end-->


<br />
<h3>TEMPLATE_RESOURCE_MP3</h3>
<em>This is an example template for styling a MP3 resource item.</em>
<br />

<!--###TEMPLATE_RESOURCE_MP3### begin-->
	<!--###CONTENT###-->
			###RESOURCE_CONTENT###
	<!--###CONTENT###-->
<!--###TEMPLATE_RESOURCE_MP3### end-->


<br />
<h3>TEMPLATE_RESOURCE_FLASH_VIDEO</h3>
<em>This is an example template for styling a FLV resource item.</em>
<br />

<!--###TEMPLATE_RESOURCE_FLASH_VIDEO### begin-->
	<!--###CONTENT###-->
			###RESOURCE_CONTENT###
	<!--###CONTENT###-->
<!--###TEMPLATE_RESOURCE_FLASH_VIDEO### end-->


<br />
<h3>TEMPLATE_RESOURCE_POLL</h3>
<em>This is an example template for styling a Poll resource item.</em>
<br />

<!--###TEMPLATE_RESOURCE_POLL### begin-->
	<!--###CONTENT###-->
			###RESOURCE_CONTENT###
	<!--###CONTENT###-->
<!--###TEMPLATE_RESOURCE_POLL### end-->

<br />
<h3>TEMPLATE_RESOURCE_DISCUSSION</h3>
<em>This is an example template for styling a Discussion resource item.</em>
<br />

<!--###TEMPLATE_RESOURCE_DISCUSSION### begin-->
	<!--###CONTENT###-->
			###RESOURCE_CONTENT###
	<!--###CONTENT###-->
<!--###TEMPLATE_RESOURCE_DISCUSSION### end-->

<br />
<h3>TEMPLATE_RESOURCE_DEFAULT</h3>
<em>This is an example template for styling a MP3 resource item.</em>
<br />

<!--###TEMPLATE_RESOURCE_DEFAULT### begin-->
	<!--###CONTENT###-->
			<div id="tx-wecsermons-pi1-default-resources">
				###RESOURCE_TITLE###
				<!--###RESOURCE_LINK###--> ###RESOURCE_FILE###<!--###RESOURCE_LINK###-->
			</div>
	<!--###CONTENT###-->
<!--###TEMPLATE_RESOURCE_DEFAULT### end-->
	<body>
</html>