TD {
	FONT-SIZE: 70%; FONT-FAMILY: "Arial", "Tahoma", "Verdana", "Trebuchet MS", "Times New Roman"
}
.features {
	FONT-SIZE: 84%; FONT-FAMILY: Arial, Verdana, "Trebuchet MS", "Times New Roman"
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #666666; FONT-FAMILY: Arial, Verdana, "Trebuchet MS", "Times New Roman"
}
H1 {
	FONT-SIZE: 130%; FONT-FAMILY: "Trebuchet MS", Arial, Verdana, "Trebuchet MS", "Times New Roman"; LETTER-SPACING: 0.05em
}
.normal {
	FONT-SIZE: 120%; FONT-FAMILY: Arial, Verdana, "Trebuchet MS", "Times New Roman"
}
.bottom {
	BORDER-BOTTOM: #cccccc 1px dashed
}
.top {
	BORDER-TOP: #cccccc 1px dashed
}
A {
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #336699
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.graphics A:link {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 85%; MARGIN: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #333; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Arial, Tahoma, "Trebuchet MS", arial, verdana, sans-serif; LETTER-SPACING: 0.1em; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.graphics A:visited {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 85%; MARGIN: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #333; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Arial, Tahoma, "Trebuchet MS", arial, verdana, sans-serif; LETTER-SPACING: 0.1em; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.graphics A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #333
}
#archive {
	BORDER-RIGHT: #ccc 1px dotted; BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 50%; LEFT: 20%; BORDER-LEFT: #ccc 1px dotted; WIDTH: 200px; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 100%
}
#centercontent {
	MARGIN: 0px auto
}
#current {
	FONT-WEIGHT: bold
}
